@import "tailwindcss";

@layer base {
  :root {
    --color-bgPrimary: #eff1f3; /* Rose */
    --color-active: #1f5bff;
    --color-primary: #000000;
  }
}

@layer components {
  .active {
    color: var(--color-active);
  }
}



@layer utilities {
  .bg-primary {
    background-color: var(--color-bgPrimary);
  }
}


