@import "tailwindcss";

@layer base {
  :root {
    --color-bgPrimary: #ebeded; /* Rose */
    --color-active: #1f5bff;
    --color-black: #000000;
  }
}

@layer components {
  .active {
    color: var(--color-active);
  }
}



@layer utilities {
  .bg-primary {
    background-color: var(--color-bgPrimary);
  } 
  .editorjsdiv h2{
      font-weight: 600;
      font-size: 18px;
  }
}


